## Area for testing Code

In [3]:
import pandas as pd
import datetime

In [21]:
a = datetime.date(2016, 1, 1)
b = datetime.date(2016, 12, 31)

index = pd.date_range(a,b, freq='D')


columns = ['A','B', 'C']
df = pd.DataFrame(index=index, columns=columns)

In [19]:
len(df)

366

In [20]:
a = datetime.date(2016, 1, 1)

In [27]:
str(a)

'2016-01-01'

In [26]:
df

              A    B    C
2016-01-01    1    2    3
2016-01-02  NaN  NaN  NaN
2016-01-03  NaN  NaN  NaN
2016-01-04  NaN  NaN  NaN
2016-01-05  NaN  NaN  NaN
2016-01-06  NaN  NaN  NaN
2016-01-07  NaN  NaN  NaN
2016-01-08  NaN  NaN  NaN
2016-01-09  NaN  NaN  NaN
2016-01-10  NaN  NaN  NaN
2016-01-11  NaN  NaN  NaN
2016-01-12  NaN  NaN  NaN
2016-01-13  NaN  NaN  NaN
2016-01-14  NaN  NaN  NaN
2016-01-15  NaN  NaN  NaN
2016-01-16  NaN  NaN  NaN
2016-01-17  NaN  NaN  NaN
2016-01-18  NaN  NaN  NaN
2016-01-19  NaN  NaN  NaN
2016-01-20  NaN  NaN  NaN
2016-01-21  NaN  NaN  NaN
2016-01-22  NaN  NaN  NaN
2016-01-23  NaN  NaN  NaN
2016-01-24  NaN  NaN  NaN
2016-01-25  NaN  NaN  NaN
2016-01-26  NaN  NaN  NaN
2016-01-27  NaN  NaN  NaN
2016-01-28  NaN  NaN  NaN
2016-01-29  NaN  NaN  NaN
2016-01-30  NaN  NaN  NaN
...         ...  ...  ...
2016-12-02  NaN  NaN  NaN
2016-12-03  NaN  NaN  NaN
2016-12-04  NaN  NaN  NaN
2016-12-05  NaN  NaN  NaN
2016-12-06  NaN  NaN  NaN
2016-12-07  NaN  NaN  NaN
2016-12-08  NaN  NaN  NaN
2016-12-09  NaN  NaN  NaN
2016-12-10  NaN  NaN  NaN
2016-12-11  NaN  NaN  NaN
2016-12-12  NaN  NaN  NaN
2016-12-13  NaN  NaN  NaN
2016-12-14  NaN  NaN  NaN
2016-12-15  NaN  NaN  NaN
2016-12-16  NaN  NaN  NaN
2016-12-17  NaN  NaN  NaN
2016-12-18  NaN  NaN  NaN
2016-12-19  NaN  NaN  NaN
2016-12-20  NaN  NaN  NaN
2016-12-21  NaN  NaN  NaN
2016-12-22  NaN  NaN  NaN
2016-12-23  NaN  NaN  NaN
2016-12-24  NaN  NaN  NaN
2016-12-25  NaN  NaN  NaN
2016-12-26  NaN  NaN  NaN
2016-12-27  NaN  NaN  NaN
2016-12-28  NaN  NaN  NaN
2016-12-29  NaN  NaN  NaN
2016-12-30  NaN  NaN  NaN
2016-12-31  NaN  NaN  NaN

[366 rows x 3 columns]